.suggest-list a {
    color: rgb(87, 47, 151);
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    border-radius: 5px;
}

.delete-button, .edit-button {
   padding: 2rem;

}

