/* .login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
} */

.login-box {
    margin-top: 8rem !important;
    position: relative;
}

/* .login-text {
color:rgb(245, 248, 248);
padding-top: 10px;

} */


.login-button {
    position: absolute;
    left: 22%;
    bottom: -6%;
}

/* input[type=email], input[type=password]{
border-radius:10px;
border:none;
-webkit-box-shadow:0px 1px 1px #cfcccf;
-moz-box-shadow:0px 1px 1px #cfcccf;
box-shadow:0px 1px 1px #cfcccf;

} */


