.user-summary-wrapper {
    background: #684595;
    display: flex;
    position: relative;
    padding: 120px 0 100px 0;
    margin-bottom: 6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-name {
    color: #fff;
    font-size: 1.8rem;
    padding: 1rem;
    justify-content: flex-end;
    position: absolute;
    top: 65%;
    right: 10%;
}

.user-name-container{
    justify-content: flex-end;
}
.user-photo {
    background: #fbfbfc;
    border: 20px solid #FFC233;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    left: 10%;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-photo-icon {
    color: #684595a5;
    font-size: 2rem;
    position: absolute;
    display: inline-block; 
    text-align: center;
    left: 3rem;
    top: 3rem;
}

.icon-camera {
    font-size: 3rem;
    text-shadow: 0px 1px 1px rgba(2, 2, 2, 0.332);
}

.user-photo-icon:hover  {
    color: #684595;
}

.image-upload >input {
    display: none;
  }